:root {
  --backgroundColor: #ff6600;
  --textSecondaryColor: White;
  --backgroundSecondaryColor: #999;
}

/* TAMAÑO MÓVIL: 420px o MENOS */
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
}
h1, h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

h2,
h3 {
  color: var(--backgroundColor);
}
.header {
  display: flex;
  height: 100px;
  background-color: var(--backgroundColor);
}
.footer {
  height: 100px;
  background-color: var(--backgroundColor);
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footerWrapper {
  width: 94%;
  margin: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 2%;
  top: 0;
}

.introductionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.introduction {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
}

/* h1.logo {
    margin: 0px;
    padding: 0;
} */

img.logo {
  width: 100px;
  border-radius:50%;
}



h1.introductionText {
  font-family: monospace;
  font-weight: bold;
  font-size:1rem;
  color: var(--textSecondaryColor);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-right: 1px solid var(--textSecondaryColor);
  animation: typewriterEffect 5s steps(40) infinite alternate,
    cursorBlink 1s infinite;
}

h1 > a {
  color: var(--textSecondaryColor);
  text-decoration: none;
}

.navDesktop {
  display: none;
}

img.responsive {
  width: 100%;
}

.mainWrapper {
  width: 98%;
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* ANIMACIONES CSS*/
@keyframes typewriterEffect {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes cursorBlink {
  0% {
    border-color: black;
  }
  100% {
    border-color: var(--textSecondaryColor);
  }
}

/* nav Mobile styles  */
nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#menuIcon {
  display: block;
  font-size: 2rem;
  padding: 0;
  color: var(--textSecondaryColor);
  text-decoration: none;
  text-align: right;
  z-index: 1;
}
#menuIconClose {
  display: none;
  padding: 10px 15px;
  color: var(--textSecondaryColor);
  background-color: var(--backgroundColor);
  border-radius: 50%;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
  z-index: 0;
}
#menuIcon:target {
  display: none;
}
#menuIcon:target + #menuIconClose {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  z-index: 2;
}

#menuIcon:target ~ .mobileMenu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  margin: 2.5% 2.5%;
  background-color: var(--backgroundSecondaryColor);
  opacity: 0.9;
  z-index: 1;
  animation: mobileMenuAnimation 1s ease;
}

/* esta es una fomra rara de llamar a .mobileMenu
Es para ver si consigo hacer la animaciín cuando 
desaparece .mobileMenu */
/*TODO: Intentar hacer animación de desaparecer menú*/
#menuIcon:not(:target) ~ .mobileMenu {
  display: none;
  z-index: 0;
  text-align: center;
  padding: 0;
  opacity: 0;
  animation: mobileMenuAnimationBack 1s ease;
}

@keyframes mobileMenuAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.95;
  }
}

@keyframes mobileMenuAnimationBack {
  from {
    opacity: 0.95;
  }
  to {
    opacity: 0;
  }
}

.mobileMenu ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobileMenu li {
  min-height: 25%;
  border-bottom: 1px solid var(--textSecondaryColor);
}
.mobileMenu a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--backgroundColor);
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--backgroundColor);
  border-bottom: 1px solid var(--backgroundColor);
}

.article h3 {
  margin: 5px;
}

.article .articleLink {
  display: inline-block;
  background-color: var(--backgroundColor);
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--textSecondaryColor);
}

/* TAMAÑO TABLET: DESDE 421px HASTA 960 px */
@media screen and (min-width: 421px) {
  .mainWrapper {
    width: 420px;
    margin: 0 auto;
  }
  .header {
    height: 150px;
  }
  h1.introductionText {
    font-size:1.75rem;
  }
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: block;
    color: var(--textSecondaryColor);
  }
  .headerWrapper {
    flex-direction: column;
    justify-content: space-around;
  }
  .article {
    display: flex;
  }
  .articleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .articleImg {
    max-width: 33%;
    margin: 5px;
  }
}

/* TAMAÑO DESKTOP: DESDE 961px*/
@media screen and (min-width: 961px) {
  h1.introductionText {
    font-size:4rem;
  }
  .mainWrapper {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    height: 100px;
  }
  .headerWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .footerWrapper {
    flex-direction: row;
    justify-content: space-around;
  }

  .sectionWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
  }

  .article{
    max-width: 45%;
    border-bottom-style: hidden;
    border-top-style: hidden;
  }

}
