/* TAMAÑO MÓVIL: 420px o MENOS */
body {
  margin: 0;
}
.header {
  position:relative;
}

div.introduction {
  /* para posicionar donde queremos sobre la foto */
  position:absolute;
  top:100px;
  display: flex;
  justify-content: center;
  width:100%;
  left:0;
}

h1.logo {
  position:absolute;
  top:0;
}


p.introductionText {

  font-family: monospace;
  font-weight: bold;
  color:whitesmoke;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-right:1px solid whitesmoke;
  animation: typewriterEffect 5s steps(40) infinite alternate, cursorBlink 1s infinite;
}

h1 > a {
  color: white;
  text-decoration: none;
}

nav.navDesktop {
  display: none;
}

nav.navMobile {
  font-size: x-large;
}

img.responsive {
  width: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* ANIMACIONES CSS*/
@keyframes typewriterEffect {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;

  }
}

@keyframes cursorBlink {
  0% {
    border-color:black;
  }
  100% {
    border-color:white;
  }
}